@page
@model SecurityProject.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Courses";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Price)
            </th>
            @if ((bool)ViewData["IsAdmin"])
            {
                <th>@Html.DisplayNameFor(model => model.Courses[0].TeacherName)</th>
            }


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if ((bool)ViewData["IsAdmin"])
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
